* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
}

.nev {
  height: 6rem;
  background-color: rgb(213 213 199);
}
.nev-brand {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.nev-brand h2 {
  width: 200px;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-shadow: 3px 0px 10px grey;
  font-weight: 700;
  cursor: pointer;
}
.nev-brand a {
  text-decoration: none;
  color: black;
}
.items ul {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  margin-right: 50px;
}
.items ul li {
  list-style: none;
  padding: 0px 21px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.items ul li a {
  color: #4a5867;
  transition: all 0.3s;
  text-decoration: none;
}
.items ul li a:hover {
  border: 1px solid #fff;
  padding: 7px 11px;
}

.simillar-btn {
  padding: 10px 23px;
  border-radius: 35px;
  border: none;
  background: black;
  color: #fff;
  transition: 0.5s;
  font-weight: 400;
}
#first-button {
  background-color: blue;
}
#first-button:hover {
  background: black;
}
#button {
  margin-right: -30px;
  margin-left: 10px;
}
.simillar-btn:hover {
  background-color: blue;
}

#hember {
  position: absolute;
  top: 3%;
  right: 5%;
  display: none;
  font-size: 2rem;
}
#hember .fa-times {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
#hember .fa-bars {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

/* ------NevBar End --------*/

/* ------Header Start --------*/

.header {
  margin-top: 200px;
}
.row-style {
  justify-content: space-between;
}

.content h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.content .common-p {
  font-size: 17px;
  color: rgb(149 136 136);
  padding-top: 10px;
}
.images {
  width: 100%;
  height: auto;
}

.images .last-image {
  height: 300px;
  width: 400px;
}
.mein-image {
  width: 80%;
  height: 100%;
  object-fit: cover;
}
.image-responsive {
  position: absolute;
  bottom: 65%;
  left: 51%;
  width: 278px;
  height: 213px;
}
.input {
  margin-top: 22px;
  position: relative;
}
.input h3 {
  font-size: 25px;
}
.input input {
  outline: none;
  margin-top: 15px;
  border: none;
  background: lightgray;
  padding: 12px 20px;
  border-radius: 25px;
  width: 100%;
  box-shadow: 0px 1px 2px grey;
}
.header-btn {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  top: 53%;
  border-radius: 43px;
  background-color: blue;
  color: #fff;
  outline: none;
  transition: all 0.5s;
}
.header-btn:hover {
  background: black;
}
/* ------Header End --------*/

/* ------Survice Start --------*/
.survice {
  margin-top: 230px;
}
.mein-box {
  background: #fdfdfd33;
  box-shadow: 0px 0px 3px darkgrey;
}
.common-h2 {
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
}
.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #85858544;
  color: blue;
  margin: 30px auto;
}
.culom h4 {
  text-align: center;
  font-size: 22px;
}
.culom p {
  font-size: 16px;
  text-align: justify;
  padding: 10px 30px;
}
/* ------Survice End --------*/

/* --------About Start --------*/

.about {
  margin-top: 10rem;
}
.about h3 {
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 600;
}
.about > p {
  text-align: center;
  font-size: 12px;
  margin-left: 35px;
  text-transform: uppercase;
}
.img-sizing {
  height: 450px !important;
  border-radius: 10px;
  box-shadow: 0px 0px 6px grey;
}
.instruction {
  width: 100%;
  height: 450px;
}
.instruction span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: blue;
  border: 2px solid blue;
}
.instruction > p {
  margin-left: 57px;
  margin-bottom: 1rem;
}
.title {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  margin-left: 2;
}
.title h5 {
  padding-left: 20px;
  font-weight: 600;
  margin-top: 15px;
}
.simillar-button {
  margin-top: 1rem;
  padding: 7px 17px;
  border-radius: 35px;
  outline: none;
  border: 1px solid blue;
  background: transparent;
  color: blue;
  transition: 0.5s;
  font-weight: 400;
}
.simillar-button:hover {
  background-color: blue;
  color: #fff;
}
.reverse {
  flex-direction: row-reverse;
}
.alingments {
  text-align: start !important;
  margin-left: 0px !important;
}
/* ------About End --------*/

/* --------Others Start --------*/
.others {
  margin-top: 250px;
}
.others h3 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 3rem;
  font-size: 2rem;
}
.collam-style {
  background: #fdfdfd33;
  box-shadow: 0px 0px 2px grey;
  max-width: 30% !important;
  margin: 15px;
  transition: all 0.5s;
}

.collam-style h4 {
  font-weight: 600;
  padding-left: 15px;
}
.collam-style p {
  text-align: justify;
  padding: 10px 15px;
  font-size: 15px;
}
#icon-style {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #85858544;
  color: blue;
  margin: 16px 13px;
}
.collam-style:hover {
  background: #ede8e8;
}
/* ------Others End--------*/

/* --------Contact Start --------*/
.contact-style {
  margin-top: 170px;
}
.contact-style h4 {
  font-weight: 600;
  font-size: 26px;
}
.contact-style p {
  font-size: 15px;
}
.btn {
  padding: 10px 40px;
}
/* ------Contact End--------*/

/* --------Footer Start --------*/

.fotter {
  background: #071b4d;
  margin-top: 200px;
}
.fotter-content {
  color: #fff;
}
.fotter-content h4 {
  font-size: 20px;
}
.fotter-content ul li {
  list-style: none;
  cursor: pointer;
}
.fotter-content ul li:hover {
  color: thistle;
}
#pera-style {
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
}
#icon ul {
  display: flex;
}
#icon h4 {
  text-align: center;
}
#icon li {
  padding: 10px 13px;
}
.fab {
  font-size: 1.2rem;
  background: #fff;
  padding: 12px 14px;
  border-radius: 13px;
}

.fotter-content #icon-hover:hover {
  transition: all 1s;
  animation: icon-animation 1s linear infinite alternate-reverse;
}

@keyframes icon-animation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.2);
  }
}
.back-to-top {
  position: fixed;
  right: 5%;
  top: -10%;
  background: #8b0000;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  transform: rotate(90deg);
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s;
  z-index: 111;
}
.show {
  top: 80%;
}
.fas.fa-angle-left {
  color: #fff;
  font-size: 1.4rem;

  animation: indegotor-animation 0.4s infinite alternate linear;
}

@keyframes indegotor-animation {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-1px);
  }
}

/* ----Error Page----- */

.error-containear {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.content h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.content > button {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin-left: 6rem;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

/* ------Responsive Start--------*/

@media only screen and (max-width: 400px) {
  .nev-brand h2 {
    font-size: 1.5rem;
  }
  .content h1 {
    font-size: 1.5rem;
  }
  #hember {
    font-size: 1.5rem;
  }
  .content.common-p {
    font-size: 13px;
  }
  .input h3 {
    font-size: 19px;
  }
  .input input {
    width: 100%;
  }
  .image-responsive {
    width: 160px;
    height: 151px;
  }
  .col-4.culom {
    max-width: 100%;
    flex: auto;
  }
  #fotter {
    max-width: 100%;
  }
  .contact-style h4 {
    font-size: 18px;
  }
  .about {
    /* margin-top: 18rem; */
    height: 1200px;
  }
  .others {
    margin-top: 360px;
  }
  .header-btn {
    font-size: 13px;
  }
}
@media only screen and (max-width: 760px) {
  .col-4.collam-style {
    max-width: 100% !important;
    flex: auto;
  }
  .about-style {
    flex-direction: column;
    align-items: center;
  }
  .reverse {
    flex-direction: column;
    align-items: center;
  }
  .collam {
    max-width: 100%;

    margin-bottom: 1rem;
  }
  /* .about {
    margin-top: 18rem;
  } */
  .contact-style {
    margin-left: 0;
  }
  .contact-style {
    margin-left: auto;
  }
  .col-5.collam {
    flex: auto;
  }
  .col-6.input-style {
    flex: auto;
    margin-left: 0 !important;
  }
  .header {
    margin-top: 2rem;
  }
  .header-row {
    flex-direction: column;
  }
  .content {
    flex: auto;
    max-width: 100%;
  }
  .images {
    max-width: 100%;
    flex: auto;
    margin-top: 5rem;
  }
  .image-responsive {
    bottom: 28%;
    left: 42%;
  }
}
@media only screen and (max-width: 978px) {
  .row {
    justify-content: center;
  }

  .nev-brand {
    justify-content: flex-start;
    flex: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1120px) {
  #icon ul {
    flex-wrap: wrap;
  }
  #icon h4 {
    text-align: start;
  }

  .items {
    max-width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 111;
    right: -100%;
    top: 12%;
    transition: all 0.8s ease-in-out;
  }
  .items ul {
    flex-direction: column;
    margin: 0;
  }
  .items ul li {
    padding: 14px 0px;
  }
  .items ul li a {
    color: #fff;
  }
  #button {
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  #hember {
    display: block;
    cursor: pointer;
  }
  .col-8.items.open-closed {
    right: 0;
  }
}
